<h1>Deleted activities</h1>
<div class="wrapper">
<mat-card>
  <mat-card-content class="items">
    <div *ngFor="let item of list; let idx = index">
      <div class="item">
        <div class="item-data">
          <div>
            <div>{{item.description}}</div>
            <div>priority:{{item.level}}</div>
            <div>expire in: {{getDays(item.expire)}} days</div>
          </div>
          <button mat-button (click)="restore(item,idx)"><mat-icon>restore</mat-icon>Restore</button>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
</div>





