<div class="wrapper-form">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <p>
      <mat-form-field>
        <mat-label>enter activity</mat-label>
        <input type="text" matInput formControlName="activity">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>level</mat-label>
        <mat-select formControlName="selectedLevel">
          <mat-option *ngFor="let level of levels" [value]="level.id">
            {{level.value}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="selectedLevel?.errors?.['required']">Please choose a level</mat-error>
      </mat-form-field>
    </p>
    <div class="button">
      <button type="submit"mat-button>Add</button>
  
    </div>
  </form>
</div>



