@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

.wrapper-form {
  background-color: rgb(73, 72, 72);
  height: 100%;
  text-align: center;
  padding:20px;
}

form {
  width: 100%;
  padding: 20px 0;
  background-color: rgb(173, 169, 169);
}

.mat-mdc-form-field {
  width: 90%;
}


