<div class="wrapper">
    <form action="">
      <mat-form-field class="example-full-width">
        <mat-label> <mat-icon>search</mat-icon>Filter actions</mat-label>
        <input matInput [(ngModel)]="activitiesFilter" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
      <mat-form-field>
        <mat-label>sort by</mat-label>
        <mat-select #select>
          <mat-option *ngFor="let option of optionsList" [value]="option">
            {{option}}
          </mat-option> 
        </mat-select>
      </mat-form-field>
    </form>
    <mat-card>
      <mat-card-title>Done</mat-card-title>
      <mat-card-content class="items">
        <div *ngFor="let item of list">
          <div class="item">
            <div> {{item.description}}</div>
            <div>{{item.date | date:'short'}}</div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
</div>

