<div class="wrapper">
  <mat-card>
    <mat-card-title>To Do</mat-card-title>
    <mat-card-content *ngFor="let item of list">
      <div class="item">
        <div> {{item.description}}</div>
        <div>{{item.date | date:'short'}}</div>
        <div>{{item.level}}</div>
      </div>
     
    </mat-card-content>
    
  </mat-card>
 
</div>
<mat-form-field>
  <mat-label>sort by</mat-label>
  <mat-select>
    <mat-option value="data">data</mat-option>
    <mat-option value="priority">priority</mat-option>
  </mat-select>
</mat-form-field>
