<app-tool-bar></app-tool-bar>

<div class="wrapper">

  <div class="wrapper-actions">
    <app-add-activity></app-add-activity>
    <button mat-button routerLink="">all lists</button>
    <button mat-button routerLink="done">done list</button>
    <button mat-button routerLink="to-do"> to do list</button>
    <button mat-button routerLink="report">report</button>   


    <div>
   <button (click)="show()" [routerLink]="['list']"[queryParams]=""> todo</button>
   <button (click)="show()" [routerLink]="['list']" [queryParams]="{list:true}">done</button>
    </div>

  </div>
  <div class="wrapper-activities"> 
    <router-outlet></router-outlet>
  </div>
</div>


<!-- <app-login></app-login> -->







