<app-tool-bar></app-tool-bar>

<div class="wrapper">

 


  <div class="wrapper-actions" *ngIf="accoutService.userValue">
    <app-add-activity></app-add-activity>
    <button mat-button routerLink="">all lists</button>
    <button mat-button (click)="changeListType()" routerLink= 'list'>to do</button>
    <button mat-button (click)="changeListType()" routerLink='list'>done</button>
    <button mat-button routerLink="report">report</button>   
  </div>
  <div class="wrapper-activities"> 
    <app-alert></app-alert>

    <!-- <app-login></app-login>
<app-register></app-register> -->
  
    <router-outlet></router-outlet>

  </div>

</div>













