.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.wrapper-chart {
width: 50%;
}

.wrapper-data {
  border: 1px solid black;
 
  font-size: 20px;

}

span {
  font-weight: 600;
}

.example {
  width: 50%;
  display: flex;
  flex-direction: column;
}
