<div class="title" *ngIf="chartOptions">Activities Report for {{date | date:'MMMM'}}</div>
<div class="wrapper" *ngIf="chartOptions">
  <div class="wrapper-chart">
    <canvasjs-chart [options]="chartOptions" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
  </div>
  <div class="example">
    <div class="wrapper-data">
      <div> <span>to do:</span>{{chartService.toDoLength}}</div>
      <div><span>done:</span>{{chartService.doneLength}}</div>
      <div><span>Total:</span>{{chartService.totalLength}}</div>
    </div>
    <div class="progress-wrapper">
      <div class="progress">
        <div class="progress-bar"
            [ngStyle]="{'width.%':toDoPercentage}">{{toDoPercentage + '%'}}
        </div>
        <div class="progress-bar bg-success"
        [ngStyle]="{'width.%':donePercentage}">{{donePercentage + '%'}}
        </div>
      </div>
      <div class="progress-details">
        <div>to do</div>
        <div>done</div>
      </div>
    </div>
  </div>
</div>











 













