
<div class="wrapper">
  <div class="wrapper-chart">
    <canvasjs-chart [options]="chartOptions" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
  </div>
  <div class="example">
    <div class="wrapper-data">
      <!-- <div><span>Total:</span>{{totalList}}</div>
      <div> <span>to do:</span> {{toDoList}}</div>
      <div><span>done:</span> </div> -->
    </div>

    <div class="progress" style="max-width: 60%">
    
      <div class="progress-bar"
          [ngStyle]="{'width.%':toDoPercentage}">{{toDoPercentage + '%'}}
      </div>
      <div class="progress-bar bg-success"
      [ngStyle]="{'width.%':donePercentage}">{{donePercentage + '%'}}
      </div>
    </div>


  </div>
 
</div>



 













