mat-toolbar {
  background-color: rgb(71, 120, 194);
} 
mat-toolbar-row {
  display: flex;
  justify-content: space-between;
}

.user-info {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-data {
  display: flex;

}
.user-data div {
  margin-right: 10px;
}
.user-img {
  position: relative;
  margin-right: 0;
}

.user-img img  {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
.user-online {
  position: absolute;
  right: 0;
  width: 15px;
  height:15px;
  background-color: rgb(33, 206, 33);
  border-radius: 100%;
}

.user-options {
  position: absolute;
  top: 105%;
  left: -30%; 
  width: 150px;
  height: 100px;
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
  z-index: 10;

}
.user-options::before {
  position: absolute;
  top: -40%;
  left: 40%;
  content: '';
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  margin: 2rem;
}

.user-options button:hover {

  background-color: rgb(223, 216, 216);

}

button {
  width: 100%;
  border: none;
  background-color: inherit;
  border-radius: 10px;
  margin: 0;
  padding: 0;
}

.rotate {
  rotate: 180deg;
}
