
<div class="wrapper" [formGroup]="form">
  <div *ngFor="let priority of listOfPriority" class="wrapper_cards">
    <mat-card>
      <mat-card-title>{{priority}}</mat-card-title>
      <mat-card-content>
        <div formArrayName="activities">
          <div *ngFor="let activity of form.get('activities')!.value; let i = index">
            <div *ngIf="priority === activity.level" [formGroupName]='i' class="activity"> 
              <div>{{activity.description}}</div>      
              <mat-checkbox formControlName="checked"> mark as completed</mat-checkbox>
            </div>          
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div> 
</div>

<div>{{form.value | json}}</div> 












